/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-blue: #8080ff;
  --clr-primary-2: #ff2626;
  /* grey used for paragraphs */
  --clr-grey-5: gray;
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}
/*
=============== 
Global Styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

img:not(.nav-logo) {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.5;
  margin-bottom: 0.75rem;
  color: var(--clr-white);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: capitalize;
  background: var(--clr-white);
  color: black;
  padding: 0.5rem 1.2rem;
  letter-spacing: 0.1rem;
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: transparent;
  cursor: pointer;
  border-radius: 20px;
}

.section-center {
  width: 95%;
  margin: 0 auto;
  height: 100%;
  max-width: 1170px;
  /* border: 2px solid red; */
}

nav {
  height: 4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.929);
}
.nav-center {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1rem; */
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: none;
}
.nav-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.nav-link {
  display: flex;
  gap: 1.3rem;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.social-icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 0.85rem;
}
.icon {
  display: flex;
  width: 0.85rem;
  height: 0.85rem;
  background: transparent;
  border: none;
  color: var(--clr-grey-5);
}
.icon:hover {
  color: #fff;
}
.scroll-link {
  color: var(--clr-grey-5);
  font-size: 0.85rem;
  width: 2rem;
  text-transform: capitalize;
}
.scroll-link:hover {
  color: #fff;
}
.toggle {
  font-size: 1.5rem;
  color: gray;
  background: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
  border: none;
}
.toggle:hover {
  transform: rotate(90deg);
  transition: all 0.3s linear;
}
@media screen and (max-width: 868px) {
  .nav-container {
    display: none;
  }
  .nav-header {
    display: flex;
  }
}
.show-nav {
  display: block;
}
/* home */
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
.btns {
  position: relative;
}
.btns img {
  position: absolute;
  background: transparent;
  bottom: 2rem;
  left: 2rem;
  display: block;
  width: 2rem;
  filter: invert(100%);
  cursor: pointer;
}

.home {
  position: relative;
  display: flex;
  place-items: end;
  height: 80vh;
  width: 100%;
  text-align: center;
}
.video-banner {
  display: block;
  width: 90%;
  padding-bottom: 1rem;
  margin: 1rem auto;
  text-align: center;
}
.banner-item h2 {
  letter-spacing: 8px;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
.video-banner h3 {
  letter-spacing: 8px;
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--clr-white);
}
.video-banner p {
  font-size: 1rem;
  color: var(--clr-white);
}
.banner-footer {
  display: flex;
  gap: 0.2rem;
  justify-content: center;
}
.banner-footer:hover {
  text-decoration: underline;
}
.banner-footer a {
  color: var(--clr-white);
  font-size: 1.1rem;
}
.banner-footer img {
  display: block;
  width: 1.2rem;
  filter: invert(100%);
}
/* section - 1  */
.iphone14 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  font-weight: bold;
  height: 80vh;
  padding: 1rem;
  background: url(../public/iphone\ 14.jpg) no-repeat center/cover;
}
.iphone14 .section-title h4 {
  color: white;
}
/* iphone 14 pro */
.iphone14-pro {
  background: url(../public/iphone\ 14\ pro.jpg) no-repeat center/cover;
}
.iphone14 h1,
h4 {
  margin: 0;
}
.iphone14-pro .section-title h1,
h5 {
  color: black;
  font-weight: bold;
  margin: 0;
}
.section-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.section-link a {
  font-size: 0.9rem;
}
.section-link span {
  color: blue;
  font-size: 1rem;
}

/* adds */
.adds-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}
.item {
  height: 80vh;
  padding: 1.5rem;
}
.watch {
  background: url(../public/series\ 8\ original.jpg) no-repeat center/cover;
}
.speaker {
  background: url(../public/homepad\ original.jpg) no-repeat center/cover;
}
.watch2 {
  background: url(../public/promo_watch.jpg) no-repeat center/cover;
}
.valentine {
  background: url(../public/promo_valentines_day_2023.jpg) no-repeat
    center/cover;
}
.apple-fitness {
  background: url(../public/vitness.jpg) no-repeat center/cover;
}
.apple-card {
  background: url(../public/card.jpg) no-repeat center/cover;
}
.store-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 10rem;
  box-sizing: border-box;
}
.store-title h1 {
  width: 100%;
  font-size: 2.5rem;
  margin: 0;
  padding-bottom: 0.5rem;
  line-height: 1.2;
  padding-top: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.store-title h3 {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5rem;
  margin: 0;
}
.black-font {
  color: black;
}
@media screen and (max-width: 768px) {
  .adds-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
/* article */
.article-text {
  background: var(--clr-grey-10);
  padding: 4rem;
  font-size: 0.85rem;
}
.article-text p {
  margin: 0;
}
@media screen and (max-width: 768px) {
  .article-text {
    display: none;
  }
}
/* help section */
.link-container {
  display: none;
  flex-direction: column;
  /* border: 2px solid red; */
}
.show-link a {
  color: black;
  font-size: 0.75rem;
  text-transform: capitalize;
  padding: 0.25rem;
}
.show-link {
  display: flex;
  flex-direction: column;
}
.hide-link {
  display: none;
}

.help {
  padding: 3rem;
}
.help-tap-btn {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
  background: #fff;
  align-items: center;
  text-transform: capitalize;
  border-top: 1px solid var(--clr-grey-5);
  border-bottom: 2px solid var(--clr-grey-5);
}
.help-tap-btn:hover {
  border: 2px solid var(--clr-primary-blue);
}
.help-tap-btn p {
  margin: 0;
  color: black;
  font-size: 0.8rem;
}
.help-btn {
  color: var(--clr-grey-5);
  border: none;
  background: transparent;
  cursor: pointer;
  padding-right: 1rem;
}

.show-icon {
  display: block;
  background: transparent;
  border: none;
  width: 0rem;
}
.hide-icon {
  display: none;
}
/* footer */
.footer-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.footer-header p {
  font-size: 0.95rem;
  color: black;
}
.footer-links ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 0.95rem;
  padding: 1rem;
  text-transform: capitalize;
}
/* movies */
.container {
  position: relative;
  display: flex;
  height: 70vh;
  overflow: hidden;
}
.movie-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: all 0.1s ease-in-out;
  width: 100%;
  height: 100%;
}
.stream-btn {
  display: flex;
  gap: 1rem;
}
.movie-text {
  display: flex;
  align-items: center;
  gap: 2rem;
  position: absolute;
  bottom: 1rem;
  padding: 1rem;
}
.button-container {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 2rem;
  padding: 0;
  margin: 0;
}
.button-container button {
  background: transparent;
  border: none;
  color: white;
  font-size: 2rem;
}
@media screen and (max-width: 768px) {
  .container {
    display: none;
  }
}
